<div class="footer">
  <div class="social">
    <div class="icon">
      <fa-icon [icon]="faCartShopping"></fa-icon>
    </div>
    <div class="icon">
      <fa-icon [icon]="faCartShopping"></fa-icon>
    </div>
    <div class="icon">
      <fa-icon [icon]="faCartShopping"></fa-icon>
    </div>
    <div class="icon">
      <fa-icon [icon]="faCartShopping"></fa-icon>
    </div>
  </div>
  <div class="infos">
    <div class="menu_footer">
      <ul>
        <li>HOME</li>
        <li>MENU</li>
        <li>CATALOGO</li>
        <li>OTHER</li>
        <li>CONTACT</li>
      </ul>
    </div>
    <div class="sub">
      <ul>
        <li>CONTACT</li>
        <div class="line"></div>
        <li>BLOG</li>
        <div class="line"></div>
        <li>CATERING</li>
      </ul>
    </div>
  </div>
</div>
