<div class="footer">
  <div class="social">
    <a href="https://www.instagram.com/lacatitasports/">
    <div class="icon">
      <img src="instagram.png" alt="">
      <span>La Catita</span>
    </div>
  </a>

  </div>
  <div class="infos">
    <div class="menu_footer">
      <ul>
        <li><a (click)="navigateToSection('carrosel')">Início</a></li>
        <li><a (click)="navigateToSection('products1')">Mais vendidos</a></li>
        <li><a (click)="navigateToSection('menu')">Catálogo</a></li>
        <li><a (click)="navigateToSection('products2')">Lançamentos</a></li>
      </ul>
    </div>
    <div class="sub">
      <ul>
        <li>Contatos</li>
        <div class="line"></div>
        <li><a (click)="navigateToSection('feedback')">Feedback</a></li>
        <div class="line"></div>
        <li>Categorias</li>
      </ul>
    </div>
  </div>
</div>
