
@import "../../../styles.scss";

.footer {
  width: 100vw;
  height: 300px;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  justify-content: center;
  border-top: 1px solid $gray;
  gap: 10px;
  .social {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    a{
      text-decoration: none;
    }
    .icon {
      width: 150px;
      height: 50px;
      // background-color: $primary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: $white;
      img{
        max-width: 50px;
        height: 50px;
        width: 70%;
        filter: invert(1);
      }
    }
  }
  .menu_footer {
    color: $white;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 30px;
      li:hover{
        cursor: pointer;
        color: $primary;
      }
    }
  }
  .sub {
    ul {
      display: flex;
      list-style: none;
      gap: 30px;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      .line {
        height: 20px;
        width: 1px;
        background-color: gray;
      }
      li {
        color: gray;
      }
    }
  }
}


@media (width <= 470px) {
  .footer {
    width: 100vw;
    height: 400px;
    gap: 10px;
    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 30px;
      .icon {
        width: 150px;
        height: 40px;
        img{
          max-width: 40px;
          height: 40px;
        }
      }
    }
    .infos{
      display: flex;
      gap: 50px;
      li{
        list-style: square;
      }
    }
    .menu_footer {
      color: $white;
      ul {
        display: flex;
        width: 100px;
        list-style: none;
        gap: 10px;
        font-size: .8rem;
        flex-direction: column;
      }
    }
    .sub {
      ul {
        display: flex;
        list-style: none;
        gap: 10px;
        font-size: .8rem;
        flex-direction: column;
        .line {
          height: 0px;
          width: 0px;
          background-color: gray;
          display: none;

        }
        li {
          color: white;
        }
      }
    }
  }
}
