<p-sidebar
  [(visible)]="displaySidebar"
  position="right"
  [baseZIndex]="1000"
  (onHide)="onSidebarHide($event)"
>
  <ng-template pTemplate="header">Quase lá...</ng-template>

  <p-tabView
    [(activeIndex)]="activeTabIndex"
    (click)="$event.stopPropagation()"
  >
    <p-tabPanel (click)="$event.stopPropagation()">
      <ng-template pTemplate="header">
        <span class="numberIcon">1</span>
        <span>Carrinho</span>
      </ng-template>
      <ng-template
        #content
        let-activateCallback="activateCallback"
        (click)="$event.stopPropagation()"
      >
        <div class="null" (click)="$event.stopPropagation()">
          <!-- Conteúdo do Carrinho -->
          <div class="null" (click)="$event.stopPropagation()">
            @if (cartItems.length === 0) {
            <span>Nada no carrinho...</span>
            } @for (product of cartItems; track $index) {
            <div class="item">
              <div class="image">
                <img src="{{ product.image1 }}" alt="" />
              </div>
              <div class="content">
                <div class="title">
                  <h3>{{ product.title }}</h3>
                  <button (click)="removeItem(product.productId)">X</button>
                </div>
                <div class="size">
                  <span>Tamanho: {{ product.size }}</span>
                  @if (product.custom_name !== "") {
                  <span>Nome: {{ product.custom_name }}</span>
                  } @if (product.custom_number !== "") {
                  <span>Numero: {{ product.custom_number }}</span>
                  }
                </div>
                <div class="total">
                  <div class="qtd_container">
                    <button class="menos" (click)="decreaseCart(product)">
                      -
                    </button>
                    <button class="qtd">{{ product.quantity }}</button>
                    <button class="mais" (click)="increaseCart(product)">
                      +
                    </button>
                  </div>
                  <span>R${{ product.price * product.quantity }},00</span>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="footer">
          <div class="total">Total: R${{ total }},00</div>
          <button class="finish" (click)="nextTab()">Próximo</button>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <span class="numberIcon">2</span>
        <span>Endereço</span>
      </ng-template>
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col h-48">
          <div>
            <form
              [formGroup]="enderecoForm"
              (ngSubmit)="openPopup()"
              class="form-container"
            >
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input
                  id="nome"
                  formControlName="nome"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    enderecoForm.get('nome')!.invalid &&
                    enderecoForm.get('nome')!.touched
                  "
                >
                  <small *ngIf="enderecoForm.get('nome')!.hasError('required')"
                    >Nome é obrigatório.</small
                  >
                  <small *ngIf="enderecoForm.get('nome')!.hasError('minlength')"
                    >Nome deve ter no mínimo 3 caracteres.</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="numero">Número de celular:</label>
                <input
                  id="numero"
                  formControlName="numero"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    enderecoForm.get('numero')!.invalid &&
                    enderecoForm.get('numero')!.touched
                  "
                >
                  <small
                    *ngIf="enderecoForm.get('numero')!.hasError('required')"
                    >Numero é obrigatório.</small
                  >
                  <small
                    *ngIf="enderecoForm.get('numero')!.hasError('minlength')"
                    >Numero deve ter no mínimo 9 caracteres.</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="cpf">CPF:</label>
                <input
                  id="cpf"
                  formControlName="cpf"
                  type="text"
                  class="form-control"
                  maxlength="11"
                />
                <div
                  *ngIf="
                    enderecoForm.get('cpf')!.invalid &&
                    enderecoForm.get('cpf')!.touched
                  "
                >
                  <small *ngIf="enderecoForm.get('cpf')!.hasError('required')"
                    >CPF é obrigatório.</small
                  >
                  <small *ngIf="enderecoForm.get('cpf')!.hasError('pattern')"
                    >CPF deve ter 11 dígitos numéricos.</small
                  >
                </div>
              </div>

              <div class="form-group">
                <label for="cep">CEP:</label>
                <input
                  id="cep"
                  formControlName="cep"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    enderecoForm.get('cep')!.invalid &&
                    enderecoForm.get('cep')!.touched
                  "
                >
                  <small *ngIf="enderecoForm.get('cep')!.hasError('required')"
                    >CEP é obrigatório.</small
                  >
                  <small *ngIf="enderecoForm.get('cep')!.hasError('pattern')"
                    >CEP deve estar no formato 00000-000.</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="cidade">Cidade:</label>
                <input
                  id="cidade"
                  formControlName="cidade"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    enderecoForm.get('cidade')!.invalid &&
                    enderecoForm.get('cidade')!.touched
                  "
                >
                  <small
                    *ngIf="enderecoForm.get('cidade')!.hasError('required')"
                    >Cidade é obrigatório.</small
                  >
                  <small *ngIf="enderecoForm.get('cidade')!.hasError('min')"
                    >Cidade deve ter no mínimo 3 caracteres.</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="bairro">Bairro:</label>
                <input
                  id="bairro"
                  formControlName="bairro"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    enderecoForm.get('bairro')!.invalid &&
                    enderecoForm.get('bairro')!.touched
                  "
                >
                  <small
                    *ngIf="enderecoForm.get('bairro')!.hasError('required')"
                    >Bairro é obrigatório.</small
                  >
                  <small *ngIf="enderecoForm.get('bairro')!.hasError('min')"
                    >Bairro deve ter no mínimo 3 caracteres.</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="rua">Rua:</label>
                <input
                  id="rua"
                  formControlName="rua"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    enderecoForm.get('rua')!.invalid &&
                    enderecoForm.get('rua')!.touched
                  "
                >
                  <small *ngIf="enderecoForm.get('rua')!.hasError('required')"
                    >Rua é obrigatório.</small
                  >
                  <small *ngIf="enderecoForm.get('rua')!.hasError('min')"
                    >Rua deve ter no mínimo 3 caracteres.</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="numeroCasa">Número da Casa:</label>
                <input
                  id="numeroCasa"
                  formControlName="numeroCasa"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="
                    enderecoForm.get('numeroCasa')!.invalid &&
                    enderecoForm.get('numeroCasa')!.touched
                  "
                >
                  <small
                    *ngIf="enderecoForm.get('numeroCasa')!.hasError('required')"
                    >Numero da casa é obrigatório.</small
                  >
                  <small *ngIf="enderecoForm.get('numeroCasa')!.hasError('min')"
                    >Numero da casa deve ser maior que 0.</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="numeroCasa">Complemento:</label>
                <input
                  id="numeroCasa"
                  formControlName="numeroCasa"
                  type="text"
                  class="form-control"
                />
              </div>

              <button
                type="submit"
                [disabled]="enderecoForm.invalid"
                class="btn-submit"
              >
                Enviar
              </button>
            </form>
          </div>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</p-sidebar>
<p-sidebar
  [(visible)]="responsiveMenu"
  position="right"
  [baseZIndex]="1000"
  (onHide)="onSidebarHide($event)"
  class="categoria"
>
  <ng-template pTemplate="header">Categorias</ng-template>

  <ng-template pTemplate="content">
    <div class="container_sidebar" (click)="$event.stopPropagation()">
      <div class="categoria" (click)="$event.stopPropagation()">
        <p-panelMenu [model]="items"></p-panelMenu>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<div class="overlay" *ngIf="showPopup" (click)="closePopup()"></div>

<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup">
    <h3>Selecione quem irá te atender:</h3>
    <div class="card_container">
      <div class="card gleuton" (click)="handleButtonClick(1)">
        <div class="image"></div>
        <span>Gleuton</span>
      </div>
      <div class="line"></div>
      <div class="card cardoso" (click)="handleButtonClick(2)">
        <div class="image"></div>
        <span>Cardoso</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="header_container">
    <div class="top_header">
      <fa-icon [icon]="faPaperPlane"></fa-icon>
      <h1>COMPRE 3 LEVE 4 CAMISETAS!</h1>
    </div>
    <div class="header_mobile">
      <div class="logo" routerLink="">
        <img src="./logo.png" alt="" />
      </div>
      <div class="cart_icon">
        <fa-icon
          [icon]="faBagShopping"
          (click)="displaySidebar = true"
          class="cart"
        >
        </fa-icon>
        @if (cartItems.length > 0) {
        <div class="quantidade">{{ cartItems.length }}</div>
        }

        <fa-icon
          [icon]="faBars"
          class="bars"
          (click)="responsiveMenu = true"
        ></fa-icon>
      </div>
    </div>
    <div class="header">
      <div class="logo" routerLink="">
        <img src="./logo.png" alt="" />
      </div>
      <div class="input">
        <input
          type="text"
          placeholder="Buscar produto..."
          [(ngModel)]="searchTerm"
        />
        <button (click)="onSearch()">
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
      </div>

      <div class="cart_icon" (click)="displaySidebar = true">
        <fa-icon [icon]="faBagShopping"></fa-icon>
      </div>
    </div>
    <div class="categoria">
      <p-panelMenu [model]="items"></p-panelMenu>
    </div>
  </div>
</div>
