@defer{
<p-sidebar
  [(visible)]="displaySidebar"
  position="right"
  [baseZIndex]="1005"
  (onHide)="onSidebarHide($event)"
>
  <div class="null" (click)="$event.stopPropagation()">
    <span>Nada no carrinho...</span>

    @for (product of carrinho; track $index) {
    <div class="item">
      <div class="image">
        <img src="{{ product.image1 }}" alt="" />
      </div>
      <div class="content">
        <div class="title">
          <h3>{{ product.title }}</h3>
        </div>
        <div class="size">
          <span>Tamanho: {{ product.size }}</span>
          @if (product.custom_name !== "") {
          <span>Nome: {{ product.custom_name }}</span>
          } @if (product.custom_number !== "") {
          <span>Numero: {{ product.custom_number }}</span>
          }
        </div>
        <div class="total">
          <div class="qtd_container">
            <button class="menos">-</button>
            <button class="qtd">{{ product.quantity }}</button>
            <button class="mais">+</button>
          </div>
          <span>R${{ product.price }},00</span>
        </div>
      </div>
    </div>
    }
  </div>
  <button class="finish">Finalizar compra</button>
</p-sidebar>
<div class="container">
  <div class="header_container">
    <div class="top_header">
      <fa-icon [icon]="faPaperPlane"></fa-icon>
      <h1>COMPRE 3 LEVE 4 CAMISETAS!</h1>
    </div>
    <div class="header_mobile">
      <div class="logo">
        <img src="./logo.png" alt="" />
      </div>
      <div class="cart_icon" (click)="displaySidebar = true">
        <fa-icon [icon]="faBagShopping"></fa-icon>
        <fa-icon [icon]="faBars" class="bars"></fa-icon>
      </div>
    </div>
    <div class="header">
      <div class="logo">
        <img src="./logo.png" alt="" />
      </div>
      <div class="input">
        <input
          type="text"
          placeholder="Buscar produto..."
          [(ngModel)]="searchTerm"
        />
        <button (click)="onSearch()">
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
      </div>

      <div class="cart_icon" (click)="displaySidebar = true">
        <fa-icon [icon]="faBagShopping"></fa-icon>
      </div>
    </div>
    <div class="categoria">
      <p-megaMenu [model]="items">

      </p-megaMenu>
    </div>
  </div>

  <div class="carrosel">
    <p-carousel
      [value]="images"
      styleClass="custom-carousel"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
    >
      <ng-template let-image pTemplate="image_container">
        <div
          class="image"
          [style.background-image]="'url(' + image.url + ')'"
          alt=""
        ></div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="info">
    <div class="card">
      <fa-icon [icon]="faCartShopping"></fa-icon>
      <span>Free Delivery</span>
    </div>
    <div class="card">
      <fa-icon [icon]="faCartShopping"></fa-icon>
      <span>Free Support</span>
    </div>
    <div class="card">
      <fa-icon [icon]="faCartShopping"></fa-icon>
      <span>Get Vouvher</span>
    </div>
    <div class="card">
      <fa-icon [icon]="faCartShopping"></fa-icon>
      <span>Free Delivery</span>
    </div>
  </div>

  <div class="title_container">
    <h1 class="title">Mais vendidos</h1>
    <span class="sub">Confira os produtos mais vendidos</span>
  </div>
  <p-carousel
    [value]="products"
    styleClass="custom-carousel"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="card_container">
        <div
          class="card"
          routerLink="/product-details/{{ product.id }}"
          (mouseover)="hover(product)"
        >
          <div class="img_container">
            <img src="{{ product.image1 }}" alt="" />
          </div>
          <div class="title">
            <h2>{{ product.title }}</h2>
          </div>
          <div class="price_container">
            <div class="fullPrice">
              <span>R$ {{ product.fullPrice }},00</span>
            </div>
            <div class="price">
              <span> R$ {{ product.price }},00</span>
            </div>
          </div>
          <div class="details">
            <span
              >Em até 3x de
              <strong>{{ (product.price / 3).toFixed(2) }}</strong></span
            >
            <span
              >ou
              <span class="desconto"
                >R$ {{ (product.price * 10) / 100 }},00</span
              >
              via PIX</span
            >
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="menu">
    <div class="card1"></div>
    <div class="cards_container">
      <div class="card2"></div>
      <div class="card3"></div>
    </div>
    <div class="card4"></div>
  </div>

  <div class="title_container">
    <h1 class="title">Lancamentos</h1>
    <span class="sub">Confira os produtos mais vendidos</span>
  </div>
  <p-carousel
    [value]="products"
    styleClass="custom-carousel"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="card_container">
        <div class="card" routerLink="/product-details/{{ product.id }}">
          <div class="img_container">
            <img src="{{ product.image1 }}" alt="" />
          </div>
          <div class="title">
            <h2>{{ product.title }}</h2>
          </div>
          <div class="price_container">
            <div class="fullPrice">
              <span>R$ {{ product.fullPrice }},00</span>
            </div>
            <div class="price">
              <span> R$ {{ product.price }},00</span>
            </div>
          </div>
          <div class="details">
            <span
              >Em até 3x de
              <strong>{{ (product.price / 3).toFixed(2) }}</strong></span
            >
            <span
              >ou
              <span class="desconto"
                >R$ {{ (product.price * 10) / 100 }},00</span
              >
              via PIX</span
            >
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="feedback">
    <div class="title">
      <h1>What our Clients say!</h1>
      <div class="line"></div>
    </div>

    <div class="card_container">
      <div class="card">
        <div class="icon">
          <fa-icon [icon]="faQuoteLeft"></fa-icon>
        </div>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
          nemo beatae optio molestias exercitation</span
        >
        <div class="image"></div>
        <div class="name">CURURU</div>
        <div class="stars">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <fa-icon [icon]="faQuoteLeft"></fa-icon>
        </div>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
          nemo beatae optio molestias exercitation</span
        >
        <div class="image"></div>
        <div class="name">CURURU</div>
        <div class="stars">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <fa-icon [icon]="faQuoteLeft"></fa-icon>
        </div>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
          nemo beatae optio molestias exercitation</span
        >
        <div class="image"></div>
        <div class="name">CURURU</div>
        <div class="stars">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

  <div class="whatsapp">
    <img src="./whatsapp.png" alt="" />
  </div>
</div>
} @loading {
  <div class="container">
    <h1 class="loading">CATITA</h1>
  </div>
}
