@defer{


<div class="container">
  <app-header></app-header>

  <div class="carrosel" id="carrosel">
    <p-carousel
      [value]="images"
      styleClass="custom-carousel"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
    >
      <ng-template let-image pTemplate="image_container">
        <!-- <div
          class="image"
          [style.background-image]="'url(' + image.url + ')'"
          alt=""
        ></div> -->
        <img class="image" src="{{ image.url }}" alt="" />
      </ng-template>
    </p-carousel>
  </div>
  <div class="info">
    <div class="card">
      <fa-icon [icon]="faTrophy"></fa-icon>
      <span>Produtos de Qualidade</span>
    </div>
    <div class="card">
      <fa-icon [icon]="faLock"></fa-icon>
      <span>Pagamento Seguro</span>
    </div>
    <div class="card">
      <fa-icon [icon]="faTag"></fa-icon>
      <span>Descontos Exclusivos</span>
    </div>
    <div class="card">
      <fa-icon [icon]="faPalette"></fa-icon>
      <span>Atendimento Personalizado</span>
    </div>
  </div>

  <div class="title_container" id="products1">
    <h1 class="title">Mais vendidos</h1>
    <span class="sub">Confira os produtos mais vendidos</span>
  </div>
  <p-carousel #carousel
    [value]="products"
    styleClass="custom-carousel"
    [numVisible]="3"
    [numScroll]="1"
    [style]="{ 'touch-action': 'pan-y' }"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="card_container">
        <div
          class="card"
          routerLink="/product-details/{{ product.id }}"
          (mouseover)="hover(product)"
        >
          <div class="img_container">
            <img src="{{ product.image1 }}" alt="" />
          </div>
          <div class="title">
            <h2>{{ product.title }}</h2>
          </div>
          <div class="price_container">
            <div class="fullPrice">
              <span>R$ {{ product.fullPrice }},00</span>
            </div>
            <div class="price">
              <span> R$ {{ product.price }},00</span>
            </div>
          </div>
          <div class="details">
            <span
              >Em até 3x de
              <strong>{{ (product.price / 3).toFixed(2) }}</strong></span
            >
            <span
              >ou
              <span class="desconto"
                >R$ {{ (product.price * 10) / 100 }},00</span
              >
              via PIX</span
            >
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="menu" id="menu">
    <div class="card1"></div>
    <div class="cards_container">
      <div class="card2"></div>
      <div class="card3"></div>
    </div>
  </div>

  <div class="title_container" id="products2">
    <h1 class="title">Lancamentos</h1>
    <span class="sub">Confira os produtos mais vendidos</span>
  </div>
  <p-carousel
    [value]="products"
    styleClass="custom-carousel"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [style]="{ 'touch-action': 'pan-y' }"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="card_container">
        <div class="card" routerLink="/product-details/{{ product.id }}">
          <div class="img_container">
            <img src="{{ product.image1 }}" alt="" />
          </div>
          <div class="title">
            <h2>{{ product.title }}</h2>
          </div>
          <div class="price_container">
            <div class="fullPrice">
              <span>R$ {{ product.fullPrice }},00</span>
            </div>
            <div class="price">
              <span> R$ {{ product.price }},00</span>
            </div>
          </div>
          <div class="details">
            <span
              >Em até 3x de
              <strong>{{ (product.price / 3).toFixed(2) }}</strong></span
            >
            <span
              >ou
              <span class="desconto"
                >R$ {{ (product.price * 10) / 100 }},00</span
              >
              via PIX</span
            >
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="menu" id="menu">
    <div class="card1"></div>
   <div class="card4"></div>
  </div>
  <div class="title">
    <h1>What our Clients say!</h1>
    <div class="line"></div>
  </div>
  <p-carousel
  [value]="feedbacks"
  styleClass="custom-carousel"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [style]="{ 'touch-action': 'pan-y' }"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-feedback pTemplate="item">
    <div class="feedback" id="feedback">
      <div class="card_container">
        <div class="card">
          <div class="image">
            <img src={{feedback.image}} alt="">
          </div>
          <div class="border"></div>
          <div class="top_container">
          <div class="stars">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
          </div>
          <div class="name">{{feedback.name}}</div>
          <div class="cargo">Cliente</div>
          <div class="icon">
            <fa-icon [icon]="faQuoteLeft"></fa-icon>
          </div>
        </div>
          <span class="text_container"
            >{{feedback.text}}</span>

        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>


  <app-footer></app-footer>


</div>
} @loading {
<div class="container">
  <h1 class="loading">CATITA</h1>
</div>
}
