@defer {
<div class="container">
  <app-header></app-header>

  <div class="content">
    <p-toast position="top-center"></p-toast>

    <div class="card_left">
      <div class="image_main">
        <img [src]="selectedImage" alt="Produto principal" />
      </div>
      <div class="image_container">
        <img
          *ngFor="let image of secondaryImages"
          [src]="image"
          alt="Imagem do produto"
          (click)="updateMainImage(image)"
          [class.active]="image === selectedImage"
        />
      </div>
    </div>
    <div class="card_right">
      <div class="top_content">
        <h1 class="title">{{ product.title }}</h1>
        <div class="price_container">
          <div class="fullPrice">R${{ product.fullPrice }},00</div>
          <div class="price">R${{ product.price }},00</div>
        </div>
        <div class="details">
          <span
            >Em até 3x de
            <strong>{{ (product.price / 3).toFixed(2) }}</strong></span
          >
          <span
            >ou
            <span class="desconto"
            >R$ {{product.price - ( (product.price * 10) / 100) }},00</span
          >
          via PIX</span
          >
        </div>
      </div>
      <div class="main_content">
        <div class="size_container">
          <h1 class="title_size">Tamanho</h1>
          <ul class="sizes">
            <li
              *ngFor="let size of availableSizes"
              [ngClass]="{ 'selected-size': selectedSize === size }"
              (click)="selectSize(size)"
            >
              <input
                type="radio"
                [id]="size"
                name="size"
                [value]="size"
                [(ngModel)]="selectedSize"
              />
              <label [for]="size">{{ size }}</label>
            </li>
          </ul>
        </div>
        <div class="input_container">
          <div class="input">
            <label for="name">Personalizar Nome <span>+R$10,00</span></label>
            <input
              type="text"
              id="name"
              placeholder="Exemplo: Pedro"
              [(ngModel)]="customName"
            />
          </div>
          <div class="input">
            <label for="name">Personalizar Número <span>+R$10,00</span></label>
            <input
              type="text"
              id="name"
              placeholder="Exemplo: 10"
              [(ngModel)]="customNumber"
            />
          </div>

          <div class="total">
            <h2>Preço</h2>
            <div class="price">R${{ product.price }},00</div>
          </div>
          <div class="qtd_container">
            <div class="button_container">
              <button class="menos" (click)="decreaseQuantity()">-</button>
              <button class="valor">{{ quantity }}</button>
              <button class="mais" (click)="increaseQuantity()">+</button>
            </div>
            <button class="comprar" (click)="addOnCart(product)">
              COMPRAR
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="responsive">
      <div class="size_container">
        <h1 class="title_size">Tamanho</h1>
        <ul class="sizes">
          @if (!isKids) {
          <li
            *ngFor="let size of availableSizes"
            [ngClass]="{ 'selected-size': selectedSize === size }"
            (click)="selectSize(size)"
          >
            <input
              type="radio"
              [id]="size"
              name="size"
              [value]="size"
              [(ngModel)]="selectedSize"
            />
           
            <label [for]="size">{{ size }}</label>
          </li>
        }@else {
          <li
            *ngFor="let size of availableKidsSizes"
            [ngClass]="{ 'selected-size': selectedSize === size }"
            (click)="selectSize(size)"
          >
            <input
              type="radio"
              [id]="size"
              name="size"
              [value]="size"
              [(ngModel)]="selectedSize"
            />
           
            <label [for]="size">{{ size }}</label>
          </li>
        }
        </ul>
      </div>
      <div class="input_container">
        @if (isCustom === true) {
        <div class="input">
          <label for="name">Personalizar Nome <span>+R$10,00</span></label>
          <input
            type="text"
            id="name"
            placeholder="Exemplo: Pedro"
            [(ngModel)]="customName"
          />
        </div>
        <div class="input">
          <label for="name">Personalizar Número <span>+R$10,00</span></label>
          <input
            type="text"
            id="name"
            placeholder="Exemplo: 10"
            [(ngModel)]="customNumber"
          />
        </div>
      }
        <div class="total">
          <h2>Preço</h2>
          <div class="price">R${{ product.price }},00</div>
        </div>
        <div class="qtd_container">
          <div class="button_container">
            <button class="menos" (click)="decreaseQuantity()">-</button>
            <button class="valor">{{ quantity }}</button>
            <button class="mais" (click)="increaseQuantity()">+</button>
          </div>
          <button class="comprar" (click)="addOnCart(product)">COMPRAR</button>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

<app-whatsapp></app-whatsapp>
</div>
} @loading {
<div class="container">
  <h1 class="loading">CATITA</h1>
</div>
}
