<div class="container">
  <div class="header_container">
    <div class="top_header">
      <fa-icon [icon]="faPaperPlane"></fa-icon>
      <h1>COMPRE 3 LEVE 4 CAMISETAS!</h1>
    </div>
    <div class="header_mobile">
      <div class="logo">
        <img src="./logo.png" alt="" />
      </div>
      <div class="cart_icon" (click)="displaySidebar = true" >
        <fa-icon [icon]="faBagShopping"></fa-icon>
        <fa-icon [icon]="faBars" class="bars"></fa-icon>
      </div>


    </div>
    <div class="header">
      <div class="logo" routerLink="">
        <img src="./logo.png" alt="" />
      </div>
      <div class="input">
        <input type="text" placeholder="Buscar produto..." [(ngModel)]="searchTerm"
        />
        <button (click)="onSearch()">
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
      </div>

      <div class="cart_icon" (click)="displaySidebar = true" >
        <fa-icon [icon]="faBagShopping"></fa-icon>
      </div>
    </div>
    <div class="categoria"></div>
  </div>
  <h1 class="search_title">Search Results for "{{ searchTerm }}"</h1>

  <div *ngIf="filteredProducts.length; else noResults">
    <ul>
      <li *ngFor="let product of filteredProducts">
        <div class="card" routerLink="/product-details/{{ product.id }}">
          <div class="img_container">
            <img src="{{ product.image1 }}" alt="" />
          </div>
          <div class="title">
            <h2>{{ product.title }}</h2>
          </div>
          <div class="price_container">
            <div class="fullPrice">
              <span>R$ {{ product.fullPrice }},00</span>
            </div>
            <div class="price">
              <span> R$ {{ product.price }},00</span>
            </div>
          </div>
          <div class="details">
            <span
              >Em até 3x de
              <strong>{{ (product.price / 3).toFixed(2) }}</strong></span
            >
            <span
              >ou
              <span class="desconto"
                >R$ {{ (product.price * 10) / 100 }},00</span
              >
              via PIX</span
            >
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noResults>
    <p>No products found!</p>
  </ng-template>
</div>
