@defer {
  <app-header ></app-header>
<div class="container">
  @if (searchTerm !== "") {

    <h1 class="search_title">Search Results for "{{ searchTerm }}"</h1>
  }

  <div *ngIf="filteredProducts.length; else noResults">
    <ul>
      <li *ngFor="let product of filteredProducts">
        <div class="card" routerLink="/product-details/{{ product.id }}">
          <div class="img_container">
            <img src="{{ product.image1 }}" alt="" />
          </div>
          <div class="title">
            <h2>{{ product.title }}</h2>
          </div>
          <div class="price_container">
            <div class="fullPrice">
              <span>R$ {{ product.fullPrice }},00</span>
            </div>
            <div class="price">
              <span> R$ {{ product.price }},00</span>
            </div>
          </div>
          <div class="details">
            <span
              >Em até 3x de
              <strong>R$ {{ (product.price / 3).toFixed(2) }}</strong></span
            >
            <span
              >ou
              <span class="desconto"
                >R$ {{ product.price - (product.price * 10) / 100  | number:'1.2-2'}}</span
              >
              via PIX</span
            >
          </div>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noResults>
    <p>No products found!</p>
  </ng-template>
</div>
<app-footer></app-footer>
}
@loading {
  <div class="container">
    <h1 class="loading">CATITA</h1>
  </div>
  }
