/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

$white: #fff;
$primary: #c6b22a;
$primaryFont: #d2c252;
$gray: rgb(46, 46, 46);
$background: #161616;
$backgroundGray: #1c1c1c;
$desconto: #03b37b;
$whiteGray: rgb(190, 190, 190);

p-carousel {
  width: 90%;
  touch-action: pan-y !important; /* Garante que os filhos respeitem o scroll vertical */

  .p-carousel-content-container {
    .p-carousel-content {
      gap: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .p-carousel-prev-button,
      .p-carousel-next-button {
        width: 50px;
        height: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
      }
      .p-carousel-prev-button {
        left: 0;
      }
      .p-carousel-next-button {
        right: 0;
      }
      .p-ripple {
        filter: drop-shadow(5px 5px 10px black);
      }
    }
  }
}


.p-carousel-viewport {
  overflow: hidden;
  max-width: 1200px;
}
.p-carousel-indicator-active .p-carousel-indicator-button {
  background: $primary !important;
}
.p-button-text {
  background: transparent;
  border-color: transparent;
  color: $primary !important;
}
.p-tablist-tab-list {
  position: relative;
  display: flex;
  justify-content: center;
  background: rgb(192, 192, 192) !important;
  border-style: solid;
  border-color: var(--p-tabs-tablist-border-color);
  border-width: var(--p-tabs-tablist-border-width);
  span {
    color: gray;
  }
  button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .numberIcon {
      background-color: gray;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      color: white;
      border-radius: 50%;
    }
  }
}
.p-tab-active {
  background: rgb(237, 237, 237) !important;
  border: none !important;
  color: $background !important;
  span {
    color: #161616;
  }
  .numberIcon {
    background-color: #161616 !important;
  }
}
.p-tabpanels {
  background-color: white !important;
  height: 100%;
}
.p-drawer-right .p-drawer {
  width: 25rem !important;
}

.p-step-panels {
  background-color: red !important;
}
p-tabview {
  height: 100% !important;
}
.p-tabview-panel {
  height: 100% !important;
  margin: 0 !important;
}
.p-drawer {
  height: 100%;
  background-color: $white !important;
  .p-drawer-content {
    color: gray;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
  .p-drawer-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $whiteGray;

    color: rgb(87, 87, 87);


    .p-button {
      background-color: transparent !important;
      border: none;
      &:hover {
        opacity: 0.8;
        border: none;
      }
    }
  }
}
button {
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgba(190, 190, 190, 0.241);
  border-radius: 5px;
}


.p-tablist-active-bar {
  z-index: 1;
  display: block;
  position: absolute;
  bottom: var(--p-tabs-active-bar-bottom);
  height: var(--p-tabs-active-bar-height);
  background: $primary;
  transition: 250ms cubic-bezier(0.35, 0, 0.25, 1);
}
.form-container {
  width: 100%;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  input {
    background-color: white;
    color: gray;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 0.8rem;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(191, 255, 0, 0.25);
}

.btn-submit {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn-submit:hover {
  background-color: $primary;
}

@media (width <= 450px) {
  .p-drawer-right .p-drawer {
    width: 100% !important;
  }
  .p-drawer .p-drawer-header {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid rgb(190, 190, 190);
    height: 50px !important;
  }
  .p-tablist-tab-list button {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-tab-active {
    background: rgb(244, 244, 244) !important;
    border: none !important;
    color: $background !important;
  }
}

.p-toast-message-error{
  background-color: rgb(201, 77, 77) !important;
  color: white !important;
}
.p-toast-message-success{
  background-color: rgb(79, 167, 60) !important;
  color: white !important;
}
.p-button-text{
  color: white !important;
}
.loading{
  color: $gray;
}

.container_sidebar{
  width: 100%;
  height: 100%;
}
.p-panelmenu {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.p-panelmenu-panel {
  // max-width: 400px;
  // min-width: 250px;
  flex: 0 0 calc(30% - 10px);
  background: transparent !important;
  border-color: gray !important;
  color: white !important;
}
.p-panelmenu-item:not(.p-disabled) > .p-panelmenu-item-content:hover {
  background: rgb(226, 226, 226) !important;
  color: var(--p-panelmenu-item-focus-color);
}



@media (width <= 800px) {

  .p-panelmenu-panel {
    // max-width: 400px;
    // min-width: 250px;
    flex: none;

  }
  .p-panelmenu {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .p-panelmenu-panel {
    background: transparent !important;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(168, 168, 168) !important;
    color: #898989;
    border-radius: var(--p-panelmenu-panel-border-radius);
    padding: var(--p-panelmenu-panel-padding);
  }
  .p-panelmenu-header-link {
    color: rgb(59, 59, 59) !important;
  }
  .p-panelmenu-header:not(.p-disabled) .p-panelmenu-header-content:hover {
     background: rgb(229, 229, 229) !important;
  }
  .p-panelmenu-item-link {

    color: rgb(96, 96, 96) !important;

  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #000;
  }
}
